{
"ApiDomain":"https://service-cfljpvmw-1303094187.gz.apigw.tencentcs.com/",
"NoticeDomain":"https://notice.flyint.xyz/",
"NoticeFile":"notice.html",
"officialSiteUrl":"https://www.flyintx.com/",
"forceUpdateSubscribe":1,
"noticeVersion":7,
"lastVersionCode":10400,
"apkDownloadUrl": "https://download.flyintx.com/download/Flyint.apk",
"changeLog": "适配面板新的免密登录接口."
}


