{
"ApiDomain":"https://www.flyint.cc/",
"NoticeDomain":"https://download.flyintx.com/",
"NoticeFile":"notice.html",
"officialSiteUrl":"https://www.flyint.cc/",
"forceUpdateSubscribe":1,
"noticeVersion":7,
"lastVersionCode":10400,
"apkDownloadUrl": "https://download.flyintx.com/download/Flyint.apk",
"changeLog": "1.此软件已作废,请及时更换"
}


